<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <link href="/static/style.css" rel="stylesheet">
        <title>FAQ</title>
    </head>
    <body>
        <div class="topnav">
            <div class='title' style="float: left;">SAUCYBOYS</div>
            <a class= "active" href="/cart">CART ({{totalcart}})</a>
            <a href="/faq">FAQ</a>
            <a href="/shop">SHOP</a>
            <a href="/">HOME</a>
        </div>
        <div class="soycontainer">
            <div style="margin: 50px;">
                <h1 style="padding-top: 100px;"> YOUR CART </h1>
            </div>
            <div>
                <hr class="solid">
            </div>
            <div>
                <p1 style=" float: right; padding-right: 150px; font-size: 20px;">$0.00</p1>
                <p style=" float: right; padding-right: 300px">Sub-Total</p>
            </div>
            <div>
                <p1 style="float: right; padding-right: 150px; font-size: 20px;">$0.00</p1>
                <p style="float: right; padding-right: 300px">Taxes</p>
            </div>
            <div>
                <p1 style="float: right; padding-right: 150px; font-size: 20px;">$0.00</p1>
                <p style="float: right; padding-right: 300px">Total </p>
            </div>
        </div>
    </body>
</html>